.movieDetail {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-color: blanchedalmond;
  padding: 20px;
  margin: 0px auto;
  margin-top: 50px;
  width: 100%;
  max-width: 500px;
  font-weight: 300;
}
.movieDetail img {
  position: relative;
  width: 70%;
  display: block;
  margin: 0px auto;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movieContent .movieContent__title,
.movieContent .movieContent__year {
  margin: 20px;
  font-weight: 500;
}
.movieContent .movieContent__year {
  margin-bottom: 3px;
}

.movieContent .movieContent__genre {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}
